<div class="Top">
    <div class = "container">
        <h1>Welcome to Park_it</h1>
        <h2>Easy to find your need at one place</h2>
        <a class="register" href="/register" role="button">Register</a>
        <a class="login" href="/login" role="button">Login</a>
    </div>
</div>