<div class="lTop">
    <div class="lContainer">
        <form action="/login" method="post">
            <div class="lform">
                <label for="email">Email</label>
                <input type="email" class="lControl" name="email">
            </div>
            <div class="rform">
                <label for="password">Password</label>
                <input type="password" class="lpControl" name="password"></input>
            </div>
            <button type="submit" class="lnormalButton">Login</button>
            <a class="forgotPassword" href="/forgotPassword" role="button">Forgot Passsword</a>
        </form>
    </div>
</div>