<div class="rTop">
    <div class="rContainer">
        <form action="/register" method="post">
            <div class="rform">
                <label for="name">Name</label>
                <input type="text" class="name" name="name">
            </div>
            <div class="rform">
                <label for="email">Email</label>
                <input type="email" class="eControl" name="email">
            </div>
            <div class="rform">
                <label for="password">Password</label>
                <input type="password" class="pControl" name="password"></input>
            </div>
            <div class="rform">
                <label for="number">Mobile Number</label>
                <input type="number" class="phoneNo" name="phoneNo">
            </div>
            <div>
            <button type="submit" class="normalButton">Register</button>
        </form>
    </div>
</div>